/* purgecss start ignore */
@tailwind base;
@tailwind components;
article a {
	color: rgb(49, 49, 182);
	/* text-decoration: underline; */
}
*::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: black;
}

*::selection {
	color: white;
	background: black;
}

body {
	font-family: sans-serif;
	background-image: url(/images/noisy.png);
}
/* purgecss end ignore */
@tailwind utilities;
